<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invite Page</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
<div class="guardian-information">
    <div class="overlap-wrapper">
        <div class="overlap">
            <div class="background"></div>
            <div class="navbar">
                <div class="overlap-group">
                    <img class="receipt-minus" src="https://cdn.animaapp.com/projects/664409b92bfe44cb68582391/releases/66440a2c0be0de2ef7c69569/img/receipt-minus-style7.svg" />
                    <a href="/student/"><div class="text-wrapper">ADT</div></a>
                </div>
                <div class="component">
                    <a href="#"><div class="div">Help</div></a>
                    <img class="search-normal" src="https://cdn.animaapp.com/projects/664409b92bfe44cb68582391/releases/66440a2c0be0de2ef7c69569/img/search-normal.svg" />
                </div>
            </div>
            <div class="text-wrapper-invites">Invites</div>
            <div class="overlap-group-wrapper-invites">
                <div class="overlap-invites2">
                    <div class="rectangle-invites"></div>
                    <div class="div-wrapper-invites">
                        <div class="overlap-group-invites2">
                            <div class="text-wrapper-invites3">Gusti Faturahman Rais</div>
                            <div class="text-wrapper-invites4">UUID: a894-2s24-12se-34fr-12se</div>
                        </div>
                    </div>
                    <div class="rectangle-invites2"></div>
                    <div class="rectangle-invites3"></div>
                    <div class="text-wrapper-invites5">Accept</div>
                    <div class="text-wrapper-invites6">Reject</div>
                </div>
            </div>
            <div class="component-invites2">
                <div class="overlap-invites2">
                    <div class="rectangle-invites"></div>
                    <div class="div-wrapper-invites">
                        <div class="overlap-group-invites2">
                            <div class="text-wrapper-invites3">Muhammad Sean Galant</div>
                            <div class="text-wrapper-invites4">UUID: 8293-ued2-4e2r-45fd-32dw</div>
                        </div>
                    </div>
                    <div class="rectangle-invites2"></div>
                    <div class="rectangle-invites3"></div>
                    <div class="text-wrapper-invites5">Accept</div>
                    <div class="text-wrapper-invites6">Reject</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>