<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
<div id="center-content" style="text-align: center;">
    <h1>ACCURATE DOLLAR TRACKER</h1>
</div>

<div id="login-register-buttons" style="margin-top: 20px; text-align: center;">
    <a href="/login/student"><button style="padding: 10px; margin: 5px;">Student Login</button></a>
    <a href="/login/guardian" ><button style="padding: 10px; margin: 5px;">Guardian Login</button></a>
</div>
</body>
</html>